Source: smart-extreme-collaboration
Section: misc
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3

Package: smart-extreme-collaboration
Architecture: all
Depends: ${misc:Depends}
Description: Extreme collaboration extension for Smart Notebook
 Extreme collaboration extension for Smart Notebook
