Source: puavo-users
Section: admin
Priority: extra
Maintainer: Esa-Matti Suuronen <esa-matti.suuronen@opinsys.fi>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/puavo-users/

Package: puavo-load-reporter
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, curl, puavo-client (>= 1.3.17)
Replaces: puavo-load-balancer
Breaks: puavo-load-balancer
Description: puavo-load-reporter
 Load balancer client for LTSP servers.
