Source: liitu-themes
Section: misc
Priority: extra
Maintainer: Juha Erkkilä <Juha.Erkkila@opinsys.fi>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://www.opinsys.fi/

Package: liitu-themes
Architecture: all
Depends: ${misc:Depends}
Description: Themes for Liitu-systems
 Themes for Liitu-systems (including GTK, XFCE, ...)
