Source: liitu-themes
Section: misc
Priority: extra
Maintainer: Juha Erkkilä <Juha.Erkkila@opinsys.fi>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/liitu-themes/

Package: liitu-themes
Architecture: all
Depends: ${misc:Depends}
Description: Themes for Liitu-systems
 Themes and graphics for Liitu-systems (including GTK, XFCE, ...)
