Source: webmenu
Section: utils
Priority: extra
Maintainer: Esa-Matti Suuronen <esa-matti.suuronen@opinsys.fi>
Build-Depends: debhelper (>= 8), nodejs-bundle, python
Standards-Version: 3.9.3
Homepage: http://github.com/opinsys/webmenu

Package: webmenu
Architecture: any
Depends: ${misc:Depends}, node-webkit (>= 0.3.6), wmctrl, gnome-themes-extras
Description: Webmenu
 Next generation desktop menu
