#!/usr/bin/make -f
%:
	dh $@ --with xul-ext --buildsystem=xul_ext

override_dh_installchangelogs:
	dh_installchangelogs $(CURDIR)/debian/upstream-changelog

SRC_VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \(\([0-9]\+\):\)\?\(.*\)-.*/\3/p')
.PHONY: get-orig-source
get-orig-source:
	uscan --download-current-version
	tar -J -x -f ../flashblock_$(SRC_VERSION).orig.tar.xz --strip-components=1 -C .
