Source: cmaptools
Section: misc
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: http://cmap.ihmc.us/

Package: cmaptools
Architecture: any
Depends: ${misc:Depends}
Description: CmapTools Concept Map software
 The IHMC CmapTools software empowers users to
 construct, navigate, share, and criticize knowledge
 models represented as Concept Maps.
