Source: oracle-java-distfiles
Section: misc
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/opinsys-debs

Package: oracle-java-distfiles
Architecture: i386
Depends: ${misc:Depends}
Description: Oracle Java distfiles (tarballs)
 Oracle Java distfiles (tarballs)
