Source: ekapeli
Section: games
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://ekapeli.lukimat.fi/

Package: ekapeli
Architecture: all
Depends: ${misc:Depends}
Description: Ekapeli
 Ekapeli.
