#!/usr/bin/make -f
# -*- makefile -*-
DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
-include /usr/share/dpkg/buildflags.mk

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    MAKEFLAGS += -j$(NUMJOBS)
endif

get-orig-source:
	uscan --force-download --rename --destdir .

override_dh_auto_build:
	$(MAKE)
	$(MAKE) real_docs

%:
	dh $@ --with autoreconf
