Source: opinsys
Section: admin
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/opinsys

Package: opinsys-bootserver
Architecture: all
Depends: ${misc:Depends}, puppet, nagios-nrpe-server, puavo-ltsp-bootserver, linux-image-3.10.9-031009-generic, linux-headers-3.10.9-031009, linux-headers-3.10.9-031009-generic, vlan, wsmancli, dmcache-utils, ipmitool, pwgen
Recommends: puavo-devscripts
Description: Opinsys-specific configurations for (Puavo) bootservers
 This package contains some Opinsys-specific configurations
 for (Puavo) bootservers.  Generally the stuff here should not be public,
 but should not be a security risk if something accidentally is.
