#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	dh_auto_install -- prefix=/usr

SRC_VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \(\([0-9]\+\):\)\?\(.*\)-.*/\3/p')
ZIPBALL = Ekapeli_Alku_$(SRC_VERSION)_linux.zip
ICONURL = http://www.lukimat.fi/lukeminen/materiaalit/ekapeli/ekapeli-alku/ekapeli_alku_title.png

.PHONY: get-orig-source
get-orig-source:
	wget https://ekapeli.lukimat.fi/files/tmp/$(ZIPBALL) -O../$(ZIPBALL)
	unzip ../$(ZIPBALL)
	wget -O ekapeli_alku_title.png $(ICONURL)
	tar -C .. -zcf ../ekapeli-alku_$(SRC_VERSION).orig.tar.gz \
	    ekapeli-alku/Ekapeli-Alku_Data \
	    ekapeli-alku/ekapeli_alku_title.png \
	    ekapeli-alku/Ekapeli-Alku.x86
