Source: indicator-applet
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               quilt,
               dh-autoreconf,
               gnome-common,
               libtool,
               intltool,
               gnome-doc-utils,
               gtk-doc-tools,
               libgtk-3-dev,
               libpanel-applet-4-dev,
               libxml2-dev,
               libindicator3-dev,
               libido3-0.1-dev (>= 13.10.0),
               libx11-dev,
Standards-Version: 3.9.3
Homepage: https://launchpad.net/indicator-applet
# If you aren't a member of ~indicator-applet-developers but need to upload
# packaging changes, just go ahead.  ~indicator-applet-developers will notice
# and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~indicator-applet-developers/indicator-applet/trunk.13.04
Vcs-Browser: https://bazaar.launchpad.net/~indicator-applet-developers/indicator-applet/trunk.13.04/files

Package: indicator-applet
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         python3-xdg,
Recommends: indicator-messages,
            indicator-sound,
            indicator-application,
Provides: indicator-renderer,
Description: GNOME panel indicator applet
 indicator-applet is an applet to display information from
 various applications consistently in the GNOME panel.
 .
 Currently this includes support for messaging applications in the
 indicator-messages package.

Package: indicator-applet-session
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         indicator-applet (= ${binary:Version}),
Recommends: indicator-session,
Description: Clone of the GNOME panel indicator applet
 Indicator-applet is an applet to display information from
 various applications consistently in the GNOME panel.
 .
 This instance will only load the session menu which provides
 status changing, user choosing and session management.

Package: indicator-applet-complete
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Recommends: indicator-application,
         indicator-bluetooth,
         indicator-datetime,
         indicator-keyboard,
         indicator-messages,
         indicator-power,
         indicator-printers,
         indicator-session,
         indicator-sound,
Provides: indicator-renderer,
Description: Clone of the GNOME panel indicator applet
 Indicator-applet is an applet to display information from
 various applications consistently in the GNOME panel.
 .
 This instance will load all indicators in a single panel
 applet.

Package: indicator-applet-appmenu
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Recommends: indicator-appmenu,
Provides: indicator-renderer,
Description: Clone of the GNOME panel indicator applet
 Indicator-applet is an applet to display information from
 various applications consistently in the GNOME panel.
 .
 This instance will load the appmenu indicator.

