Source: tmux
Section: admin
Priority: extra
Maintainer: Esa-Matti Suuronen <esa-matti.suuronen@opinsys.fi>
Build-Depends: debhelper (>= 7.4.15), libevent1-dev, libncurses5-dev
Standards-Version: 3.9.3
Homepage: http://tmux.sourceforge.net/

Package: tmux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libevent-2.0-5 (>= 2.0.16-stable), libtinfo5
Description: terminal multiplexer
 tmux enables a number of terminals (or windows) to be accessed and
 controlled from a single terminal like screen. tmux runs as a
 server-client system. A server is created automatically when necessary
 and holds a number of sessions, each of which may have a number of
 windows linked to it. Any number of clients may connect to a session,
 or the server may be controlled by issuing commands with tmux.
 Communication takes place through a socket, by default placed in /tmp.
 Moreover tmux provides a consistent and well-documented command
 interface, with the same syntax whether used interactively, as a key
 binding, or from the shell. It offers a choice of vim or Emacs key
 layouts.
 .
